// Author: TrungQuanDev | https://youtube.com/@trungquandev
{
  "presets": ["@babel/preset-env"],
  "plugins": [
    ["@babel/transform-runtime"],
    ["module-resolver", { "alias": { "~": "./src" } }]
  ]
}
