/** Author: TrungQuanDev | https://youtube.com/@trungquandev */
body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  width: 100vw;
  height: 100vh;
}

.app-container {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, #12100E, #2B4162);
  display: flex;
  align-items: center;
  justify-content: center;
}

.fixed-box {
  width: 500px;
  height: 800px;
  border: 1px solid #ccc;
  background: url("./assets/bg.gif") center center no-repeat;
  background-size: cover;
  border-radius: 20px;
}

.fixed-box h1 {
  color: #FFF;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  margin: 40px 0 20px 0;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.btn-common {
  width: 120px;
  padding: 12px 16px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  background: rgba(255,255,255,.9);
  border: 1px solid rgba(255,255,255,.1);
  color: #424242;
  cursor: pointer;
}

.btn-common.primary {
  background: #d500f9;
  color: white;
}

.btn-common.secondary {
  background: #ffab00;
  color: white;
}

.dashboard {
  margin-top: 40px;
  color: white;
}

.user-from-auth0,
.user-from-our-database {
  width: 78%;
  margin: 20px auto;
  padding: 20px 30px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16) 0 3px 6px rgba(0, 0, 0, 0.23);
  > .title {
    margin-bottom: 4px;
    font-size: 20px;
    font-weight: bold;
  }
}

.preview-user {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
}

.user-avatar {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  border: 2px solid #fbc531;
}

.user-info {
  > p {
    margin: 10px 0;
    font-size: 15px;
    > span.value {
      color: #ffab00;
      font-weight: bold;
    }
  }
}

.more-info {
  margin-top: 8px;
}
